@* accountDetail Template File *@
@(account: models.Account, movements: List[models.Movement], role: String = "")(implicit client: Option[models.Client] = None, flash: Flash)
@import java.math.BigDecimal

@main("Detalle de cuenta", client, role) {

@{flash.get("success") match {
	case Some(m) => { Html(s"""<div class="alert alert-success" role="alert"> $m </div>""") }
	case None => {}
}}

@{flash.get("error") match {
case Some(e) => { Html(s"""<div class="alert alert-danger" role="alert"> $e </div>""") }
case None => {}
}}
<div class="panel panel-default">
	<div class="panel-heading"><b>Detalle de cuenta bancaria</b></div>
	<div class="panel-body">
		<b>Cuenta #:</b> @account.number<br>
		<b>Saldo a la fecha:</b>COP @(new BigDecimal(account.balance).toPlainString())<br>
	</div>

	@if(client.isDefined) {
		@clientPanel(account)
	}
	<br>


	@movementsListing(movements)

</div>
}
