@* clientsListing Template File *@
@(clients: List[models.Client])

@main("Clientes") {
	<h1>Lista de clientes</h1>
	<table class="table table-hover">
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Acciones</th>
		</tr>
		
		@for(c <- clients) {
			<tr>
				<td>@c.id</td>
				<td>@c.name</td>
				<td>
				<form action="@routes.Clients.delete(c.id)" method="post">
					<a href="@routes.Clients.details(c.id)" role="button" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"></span> Ver detalle</a>
					<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Eliminar</button>
			    </form>
				</td>
			</tr>
		}
	</table>
}
