@* clientForm Template File *@
@(clientForm: Form[models.Client])(implicit c: Option[models.Client])

@main("Editar cliente", Some(clientForm.get)) {

	@if(clientForm.hasErrors) {
		@for(e <- clientForm.errors) {
		<div class="alert alert-danger" role="alert"> @e.message </div>
		}
	}

	<div class="page-header">
		<h1>Editar usuario</h1>
	</div>
	<form action="@routes.Clients.update(clientForm.get.id)" method="post">
	
	<input type="number" hidden value="@scala.util.Random.nextInt(99999999)" id="id" name="id"/>
	<div class="form-group">
		<label for="name">Nombre</label>
		<input type="text" name="name" id="name" class="form-control" value="@clientForm.get.name">
	</div>

	<div class="form-group">
		<label for="address">Dirección</label>
		<input type="text" name="address" id="address" class="form-control" value="@clientForm.get.address">
	</div>

	<div class="form-group">
		<label for="phone">Teléfono</label>
		<input type="text" name="phone" id="phone" class="form-control" value="@clientForm.get.phone">
	</div>
	<button type="submit" class="btn btn-default">
		Editar usuario
	</button>
	</form>
}