@* footer Template File *@
@()

<div class="row">
    <br>
    <div class="col-md-8 col-md-offset-4">
        <ul class="list-inline">
            <li><a href="http://getbootstrap.com/"><small>Powered By Twitter Bootstrap</small></a></li>
            <li> ~ </li>
            <li><a href="http://www.payu.com.co/"><small>PayU Colombia</small></a></li>
            <li> ~ </li>
            <li><a href="https://www.typesafe.com/"><small>Typesafe</small></a></li>
            <li> ~ </li>
            <li><a href="https://co.linkedin.com/pub/jesús-martínez/37/b94/631"><small>Contact me!</small></a></li>
        </ul>
        <p><small>Copyright 2015 ©</small></p>
    </div>
</div>