@* header Template File *@
@(clientOption: Option[models.Client], role: String = "")


<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img alt="UBank" src="@routes.Assets.at("images/logo_1772697_web.jpg")" height="35" width="105">
      </a>
    </div>

      @if(clientOption.isDefined) {
        @clientHeader(clientOption.get)
      } else { @if(role.nonEmpty && role == "admin") {
        @adminHeader()
      }}

  </div>
</nav>


